<%- include('../layout/header.ejs')%>
<%- include('../layout/aside.ejs')%>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Cập nhật tài khoản
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">

        <div class="box-body">


          <form action="http://localhost:8082/admin/v1/accounts/edit/<%= row[0].Username %>" method="post">
            <!-- username -->
            <div class="form-group">
              <label for="exampleInputPassword1">Username</label>
              <input name="Username" type="text" class="form-control" id="exampleInputUsername1" value="<%= row[0].Username%>" readonly>  
            </div>
            <input type="text" class="cachCuChuoi" value="<%= row[0].Username %>" hidden>

            <!-- password -->
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input name="Password" type="password" class="form-control" id="exampleInputPassword1" value="<%= row[0].Password%>">
            </div>

            
             <!-- Check (select option) -->
             <div class="form-group">
              <label for="exampleInputCheck1">Check</label>
              <select name="Check" class="form-control" id="exampleInputCheck1">
                <option value="0" <%= row[0].Check === 0 ? 'selected' : '' %>>0</option>
                <option value="1" <%= row[0].Check === 1 ? 'selected' : '' %>>1</option>
                <option value="2" <%= row[0].Check === 2 ? 'selected' : '' %>>2</option>
                <option value="3" <%= row[0].Check === 3 ? 'selected' : '' %>>3</option>
              </select>
            </div>


            <!-- button submit -->
            <button type="submit" class="btn btn-primary btnSubmit"><i class="fa fa-save"></i> Submit</button>
            <a href="http://localhost:8082/admin/v1/accounts" class="btn btn-default"><i class="fa fa-arrow-left"></i> Trở lại</a>

          </form>

        </div>



      </div>

    </section>

  </div>
<script>

  console.log('Value of row[0].Check:', '<%= row[0].Check %>');
  console.log('Selected option value:', document.querySelector('#exampleInputCheck1').value);

// check email
function checkEmail() {
  let email = document.querySelector("#exampleInputEmail1");
  const regexEmail =
    /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
  return !regexEmail.test(email.value);
}

// check length
function checkLength() {
  let password = document.querySelector("#exampleInputPassword1");
  return password.value.length > 5;
}

const checkEmpty = () => {
  const password = document.querySelector("#exampleInputPassword1");
  const check = document.querySelector("#exampleInputCheck1");

  // Kiểm tra xem các phần tử đã tồn tại trước khi truy cập thuộc tính value
  return   password && check  && password.value.trim() !== "" && check.value.trim() !== "";
};

const postRequired = async (requestBody) => {
  try {
    const response = await fetch(`http://localhost:8082/admin/v1/accounts/edit/${document.querySelector(".cachCuChuoi").value.trim()}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(requestBody),
    });

    const responseData = await response.json();
    if (response.ok) {
      alert(responseData.message);
      window.location.href = 'http://localhost:8082/admin/v1/accounts';
    } else {
      alert(responseData.message);
    }
  } catch (error) {
    console.error('Error during fetch:', error);
  }
};

const btn_submit = document.querySelector(".btnSubmit");
btn_submit.addEventListener("click", async (e) => {
  e.preventDefault();
  if (checkEmpty()) {
    const exampleData = {
      Password: document.querySelector("#exampleInputPassword1").value.trim(),
      Check: document.querySelector("#exampleInputCheck1").value.trim(),
    };
    await postRequired(exampleData);
    document.querySelector("#exampleInputPassword1").value = "";
    document.querySelector("#exampleInputCheck1").value = "";
  } else {
    alert("Không để trống thông tin");
  }
});
  </script>
<%- include('../layout/footer.ejs')%>