<%- include('../Client/layout/header.ejs') %>

    <div class="container-fluid container-account light-style flex-grow-1 container-p-y">

        <h4 class="font-weight-bold py-3 mb-4">
            Quản lý Tài Khoản
        </h4>

        <div class="card overflow-hidden">
            <div class="row-account row row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                            href="#account-general">Thông tin tài khoản</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-change-password">Đổi mật khẩu</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-info">Đơn
                            mua</a>
                        <a href="#" id="logoutButton1" class="list-group-item list-group-item-action"
                            style="display: flex; align-items:center; gap:5px" >Đăng xuất <i
                                class='bx bx-log-out'></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        

                          <div class="tab-pane fade active show" id="account-general">
                            <form id="updateAccountForm" action="/editprofile" method="POST">

                                <div class="card-body media align-items-center d-flex" style="gap: 15px">
                                    <img src="/congkhai/pageClient/fe/images/avatar-trang-4.jpg" alt="" class="d-block ui-w-80">
                                    <div class="media-body ml-4">
                                      <label class="btn btn-outline-primary">
                                        Chỉnh sửa ảnh
                                        <input type="file" class="account-settings-fileinput">
                                      </label> &nbsp;
                                    </div>
                                  </div>

                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="form-label">Tên đăng nhập</label>
                                        <input type="text" class="form-account form-control mb-1" name="username" value="<%= currentUser.username %>" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Họ và tên</label>
                                        <input type="text" class="form-account form-control mb-1" name="customerName" value="<%= currentUser.customerName %>">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Số điện thoại</label>
                                        <input type="text" class="form-account form-control mb-1" name="phoneNumber" value="<%= currentUser.phoneNumber %>">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Địa chỉ</label>
                                        <input type="text" class="form-account form-control" name="address" value="<%= currentUser.address %>">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Căn cước công dân</label>
                                        <input type="text" class="form-account form-control" name="citizenID" value="<%= currentUser.citizenID %>">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Ngày sinh</label>
                                        <input type="date" class="form-account form-control" name="dob" value="<%= currentUser.dob %>">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Giới tính</label>
                                        <select class="form-account form-control mb-2" name="gender">
                                            <option value="1" <% if (currentUser.gender === 1) { %> selected <% } %>>Nam</option>
                                            <option value="0" <% if (currentUser.gender === 0) { %> selected <% } %>>Nữ</option>
                                        </select>
                                    </div>
                                    <div class="form-btn">
                                        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                                        <button type="button" class="btn btn-danger">Hủy</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="account-change-password">
                            <div class="card-body pb-2">
                                <form id="changePasswordForm" action="/changepassword" method="POST"> <!-- Đặt id cho form -->
                                    <div class="form-group">
                                        <label class="form-label">Mật khẩu hiện tại</label>
                                        <input type="password" class="form-control form-account" name="currentPassword"> <!-- Đặt name cho input -->
                                    </div>
                        
                                    <div class="form-group">
                                        <label class="form-label">Mật khẩu mới</label>
                                        <input type="password" class="form-control form-account" name="newPassword"> <!-- Đặt name cho input -->
                                    </div>
                        
                                    <div class="form-group">
                                        <label class="form-label">Xác nhận mật khẩu mới</label>
                                        <input type="password" class="form-control form-account" name="confirmPassword"> <!-- Đặt name cho input -->
                                    </div>
                        
                                    <div class="form-btn">
                                        <button type="submit" class="btn btn-primary">Lưu thay đổi</button> <!-- Sử dụng button type="submit" để gửi yêu cầu -->
                                        <button type="button" class="btn btn-danger">Hủy</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade mt-3" id="account-info">
                            <div class="tab-buttons d-flex" style="gap: 20px;">
                                <button class="order-tab-btn pending-orders-btn" data-tab="pending-orders">Đơn đã
                                    đặt</button>
                                <button class="order-tab-btn processing-orders-btn" data-tab="processing-orders">Đơn
                                    đang giao</button>

                                <button class="order-tab-btn order-history-btn" data-tab="order-history">Lịch sử
                                    mua</button>
                            </div>

                            <div id="orders-tab" class="order-tab">
                                <div id="pending-orders" class="order-tab-content">
                                    <!-- Nội dung của tab "Đơn đã đặt" -->

                                    <div class="addr-user d-flex mt-2">
                                        <h4 class="text-dark">Đia chỉ nhận hàng</h4>
                                        <p class="text-dark">Nguyễn Tuấn Huy</p>
                                        <p class="text-dark">0937026887</p>
                                        <p class="text-dark">920/20 Xa lộ Hà Nội, Phường Hiệp Phú, Thành Phố Thủ Đức,
                                            TP. Hồ Chí Minh</p>
                                    </div>
                                    <table id="pending-orders-table" class="table table-condensed table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="width:50%">Sản Phẩm</th>
                                                <th style="width:12%">Giá</th>
                                                <th style="width:10%">Số lượng</th>
                                                <th style="width:15%">Thành tiền</th>
                                                <th style="width:15%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td data-th="Product">
                                                    <div class="row">
                                                        <div class="col-md-3 text-left">
                                                            <img src="localhost:8082/congkhai/pageClient/fe/images/pro2.png"
                                                                alt=""
                                                                class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                                        </div>
                                                        <div class="col-md-9 text-left mt-sm-2">
                                                            <h5>Xe Đạp Touring LIV Alight 3 DD</h5>
                                                            <p class="font-weight-light">Tronix</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td data-th="Price">1.300.000</td>
                                                <td data-th="Quantity">
                                                    <input type="number"
                                                        class="form-control form-quantity  form-control-lg text-center"
                                                        value="1" readonly>
                                                </td>
                                                <td class="actions" data-th="Total">
                                                    1.300.000
                                                </td>
                                                <td class="actions" data-th="">
                                                    <div class="text-right">
                                                        <button class="btn btn-danger"
                                                            style="border-radius: 0 !important;">
                                                            Hủy đơn
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td data-th="Product">
                                                    <div class="row">
                                                        <div class="col-md-3 text-left">
                                                            <img src="localhost:8082/congkhai/pageClient/fe/images/pro2.png"
                                                                alt=""
                                                                class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                                        </div>
                                                        <div class="col-md-9 text-left mt-sm-2">
                                                            <h5>Xe Đạp Touring LIV Alight 3 DD</h5>
                                                            <p class="font-weight-light">Tronix</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td data-th="Price">1.300.000</td>
                                                <td data-th="Quantity">
                                                    <input type="number"
                                                        class="form-control form-quantity  form-control-lg text-center"
                                                        value="1" readonly>
                                                </td>
                                                <td class="actions" data-th="Total">
                                                    1.300.000
                                                </td>
                                                <td class="actions" data-th="">
                                                    <div class="text-right">
                                                        <button class="btn btn-danger"
                                                            style="border-radius: 0 !important;">
                                                            Hủy đơn
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td data-th="Product">
                                                    <div class="row">
                                                        <div class="col-md-3 text-left">
                                                            <img src="localhost:8082/congkhai/pageClient/fe/images/pro2.png"
                                                                alt=""
                                                                class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                                        </div>
                                                        <div class="col-md-9 text-left mt-sm-2">
                                                            <h5>Xe Đạp Touring LIV Alight 3 DD</h5>
                                                            <p class="font-weight-light">Tronix</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td data-th="Price">1.300.000</td>
                                                <td data-th="Quantity">
                                                    <input type="number"
                                                        class="form-control form-quantity  form-control-lg text-center"
                                                        value="1" readonly>
                                                </td>
                                                <td class="actions" data-th="Total">
                                                    1.300.000
                                                </td>
                                                <td class="actions" data-th="">
                                                    <div class="text-right">
                                                        <button class="btn btn-danger"
                                                            style="border-radius: 0 !important;">
                                                            Hủy đơn
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                    <div class="sum-total d-flex align-items-center">
                                        <h4 class="text-dark">Tổng tiền:</h4>
                                        <h4 class="text-dark">3.900.000 đ</h4>

                                        <h4 class="text-dark">Phí vận chuyển:</h4>
                                        <h4 class="text-dark">0 đ</h4>

                                        <h4 class="text-dark">Tổng thanh toán:</h4>
                                        <h4 class="text-dark">3.900.000 đ</h4>
                                    </div>
                                    <div class="box-account">
                                        <ul class="pagination">
                                            <li><a href="#"><i class="bx bxs-chevron-left"></i></a></li>
                                            <li><a href="#" class="active">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#"><i class="bx bxs-chevron-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="processing-orders" class="order-tab-content">
                                    <!-- Nội dung của tab "Đơn đang giao" -->
                                    <div class="addr-user d-flex mt-2">
                                        <h4 class="text-dark">Đia chỉ nhận hàng</h4>
                                        <p class="text-dark">Nguyễn Tuấn Huy</p>
                                        <p class="text-dark">0937026887</p>
                                        <p class="text-dark">920/20 Xa lộ Hà Nội, Phường Hiệp Phú, Thành Phố Thủ Đức,
                                            TP. Hồ Chí Minh</p>
                                    </div>
                                    <table id="processing-orders-table" class="table table-condensed table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="width:50%">Sản Phẩm</th>
                                                <th style="width:12%">Giá</th>
                                                <th style="width:10%">Số lượng</th>
                                                <th style="width:15%">Thành tiền</th>
                                                <th style="width:15%">Tình trạng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td data-th="Product">
                                                    <div class="row">
                                                        <div class="col-md-3 text-left">
                                                            <img src="localhost:8082/congkhai/pageClient/fe/images/pro2.png"
                                                                alt=""
                                                                class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                                        </div>
                                                        <div class="col-md-9 text-left mt-sm-2">
                                                            <h5>Xe Đạp Touring LIV Alight 3 DD</h5>
                                                            <p class="font-weight-light">Tronix</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td data-th="Price">1.300.000</td>
                                                <td data-th="Quantity">
                                                    <input type="number"
                                                        class="form-control form-quantity  form-control-lg text-center"
                                                        value="1" readonly>
                                                </td>
                                                <td class="actions" data-th="Total">
                                                    1.300.000
                                                </td>
                                                <td class="actions" data-th="">
                                                    <div class="text-right">
                                                        Đang giao
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td data-th="Product">
                                                    <div class="row">
                                                        <div class="col-md-3 text-left">
                                                            <img src="localhost:8082/congkhai/pageClient/fe/images/pro2.png"
                                                                alt=""
                                                                class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                                        </div>
                                                        <div class="col-md-9 text-left mt-sm-2">
                                                            <h5>Xe Đạp Touring LIV Alight 3 DD</h5>
                                                            <p class="font-weight-light">Tronix</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td data-th="Price">1.300.000</td>
                                                <td data-th="Quantity">
                                                    <input type="number"
                                                        class="form-control form-quantity  form-control-lg text-center"
                                                        value="1" readonly>
                                                </td>
                                                <td class="actions" data-th="Total">
                                                    1.300.000
                                                </td>
                                                <td class="actions" data-th="">
                                                    <div class="text-right">
                                                        Đang giao
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td data-th="Product">
                                                    <div class="row">
                                                        <div class="col-md-3 text-left">
                                                            <img src="localhost:8082/congkhai/pageClient/fe/images/pro2.png"
                                                                alt=""
                                                                class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                                        </div>
                                                        <div class="col-md-9 text-left mt-sm-2">
                                                            <h5>Xe Đạp Touring LIV Alight 3 DD</h5>
                                                            <p class="font-weight-light">Tronix</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td data-th="Price">1.300.000</td>
                                                <td data-th="Quantity">
                                                    <input type="number"
                                                        class="form-control form-quantity  form-control-lg text-center"
                                                        value="1" readonly>
                                                </td>
                                                <td class="actions" data-th="Total">
                                                    1.300.000
                                                </td>
                                                <td class="actions" data-th="">
                                                    <div class="text-right">
                                                        Đang giao
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                    <div class="sum-total d-flex align-items-center">
                                        <h4 class="text-dark">Tổng tiền:</h4>
                                        <h4 class="text-dark">3.900.000 đ</h4>

                                        <h4 class="text-dark">Phí vận chuyển:</h4>
                                        <h4 class="text-dark">0 đ</h4>

                                        <h4 class="text-dark">Tổng thanh toán:</h4>
                                        <h4 class="text-dark">3.900.000 đ</h4>
                                    </div>
                                    <div class="box-account">
                                        <ul class="pagination">
                                            <li><a href="#"><i class="bx bxs-chevron-left"></i></a></li>
                                            <li><a href="#" class="active">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#"><i class="bx bxs-chevron-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div id="order-history" class="order-tab-content">
                                    <!-- Nội dung của tab "Lịch sử mua" -->
                                    <div class="addr-user d-flex mt-2">
                                        <h4 class="text-dark">Đia chỉ nhận hàng</h4>
                                        <p class="text-dark">Nguyễn Tuấn Huy</p>
                                        <p class="text-dark">0937026887</p>
                                        <p class="text-dark">920/20 Xa lộ Hà Nội, Phường Hiệp Phú, Thành Phố Thủ Đức,
                                            TP. Hồ Chí Minh</p>
                                    </div>
                                    <table id="order-history-table" class="table table-condensed table-responsive">
                                        <thead>
                                            <tr>
                                                <th style="width:50%">Sản Phẩm</th>
                                                <th style="width:12%">Giá</th>
                                                <th style="width:10%">Số lượng</th>
                                                <th style="width:15%">Thành tiền</th>
                                                <th style="width:15%">Tình trạng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td data-th="Product">
                                                    <div class="row">
                                                        <div class="col-md-3 text-left">
                                                            <img src="localhost:8082/congkhai/pageClient/fe/images/pro2.png"
                                                                alt=""
                                                                class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                                        </div>
                                                        <div class="col-md-9 text-left mt-sm-2">
                                                            <h5>Xe Đạp Touring LIV Alight 3 DD</h5>
                                                            <p class="font-weight-light">Tronix</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td data-th="Price">1.300.000</td>
                                                <td data-th="Quantity">
                                                    <input type="number"
                                                        class="form-control form-quantity  form-control-lg text-center"
                                                        value="1" readonly>
                                                </td>
                                                <td class="actions" data-th="Total">
                                                    1.300.000
                                                </td>
                                                <td class="actions" data-th="">
                                                    <div class="text-right text-primary">
                                                        Hoàn Thành
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td data-th="Product">
                                                    <div class="row">
                                                        <div class="col-md-3 text-left">
                                                            <img src="localhost:8082/congkhai/pageClient/fe/images/pro2.png"
                                                                alt=""
                                                                class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                                        </div>
                                                        <div class="col-md-9 text-left mt-sm-2">
                                                            <h5>Xe Đạp Touring LIV Alight 3 DD</h5>
                                                            <p class="font-weight-light">Tronix</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td data-th="Price">1.300.000</td>
                                                <td data-th="Quantity">
                                                    <input type="number"
                                                        class="form-control form-quantity  form-control-lg text-center"
                                                        value="1" readonly>
                                                </td>
                                                <td class="actions" data-th="Total">
                                                    1.300.000
                                                </td>
                                                <td class="actions" data-th="">
                                                    <div class="text-right text-primary">
                                                        Hoàn Thành
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td data-th="Product">
                                                    <div class="row">
                                                        <div class="col-md-3 text-left">
                                                            <img src="localhost:8082/congkhai/pageClient/fe/images/pro2.png"
                                                                alt=""
                                                                class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                                        </div>
                                                        <div class="col-md-9 text-left mt-sm-2">
                                                            <h5>Xe Đạp Touring LIV Alight 3 DD</h5>
                                                            <p class="font-weight-light">Tronix</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td data-th="Price">1.300.000</td>
                                                <td data-th="Quantity">
                                                    <input type="number"
                                                        class="form-control form-quantity  form-control-lg text-center"
                                                        value="1" readonly>
                                                </td>
                                                <td class="actions" data-th="Total">
                                                    1.300.000
                                                </td>
                                                <td class="actions" data-th="">
                                                    <div class="text-right text-primary">
                                                        Hoàn Thành
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                    <div class="sum-total d-flex align-items-center">
                                        <h4 class="text-dark">Tổng tiền:</h4>
                                        <h4 class="text-dark">3.900.000 đ</h4>

                                        <h4 class="text-dark">Phí vận chuyển:</h4>
                                        <h4 class="text-dark">0 đ</h4>

                                        <h4 class="text-dark">Tổng thanh toán:</h4>
                                        <h4 class="text-dark">3.900.000 đ</h4>
                                    </div>
                                    <div class="box-account">
                                        <ul class="pagination">
                                            <li><a href="#"><i class="bx bxs-chevron-left"></i></a></li>
                                            <li><a href="#" class="active">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#"><i class="bx bxs-chevron-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../Client/layout/footer.ejs') %>
        <script>

        
            document.addEventListener('DOMContentLoaded', function () {
                const logoutButton = document.getElementById('logoutButton1');
                logoutButton.addEventListener('click', async function () {
                    try {
                        const response = await fetch('/logout', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'Authorization': 'Bearer ' + localStorage.getItem('accessToken')
                            },
                        });
                        if (response.ok) {
                            // Xóa token khỏi local storage
                            localStorage.removeItem('accessToken');
                            // Chuyển hướng người dùng về trang đăng nhập
                            window.location.href = "/signin";
                        } else {
                            console.error('Error logging out');
                        }
                    } catch (error) {
                        console.error('Error logging out:', error);
                    }
                });
            });

            $(document).ready(function () {
                // Ẩn tất cả các tab trừ tab "Đơn đã đặt"
                $(".order-tab-content").hide();
                $("#pending-orders").show(); // Hiển thị tab "Đơn đã đặt" mặc định

                // Xử lý sự kiện khi click vào các button tab
                $(".order-tab-btn").click(function () {
                    // Ẩn tất cả các tab
                    $(".order-tab-content").hide();

                    // Lấy data-tab của button được click để hiển thị tab tương ứng
                    var tabId = $(this).attr("data-tab");
                    $("#" + tabId).show();
                });
            });

            const pendingOrder = document.querySelector('.pending-orders-btn');
            const processingOrder = document.querySelector('.processing-orders-btn');
            const deliveredOrder = document.querySelector('.delivered-orders-btn');
            const oderHistoryOrder = document.querySelector('.order-history-btn');


            pendingOrder.addEventListener('click', function () {
                processingOrder.classList.remove('active');
                deliveredOrder.classList.remove('active');
                oderHistoryOrder.classList.remove('active');
                pendingOrder.classList.add('active');
            });

            processingOrder.addEventListener('click', function () {
                pendingOrder.classList.remove('active');
                deliveredOrder.classList.remove('active');
                oderHistoryOrder.classList.remove('active');
                processingOrder.classList.add('active');
            });

            oderHistoryOrder.addEventListener('click', function () {
                pendingOrder.classList.remove('active');
                deliveredOrder.classList.remove('active');
                processingOrder.classList.remove('active');
                oderHistoryOrder.classList.add('active');
            });

            deliveredOrder.addEventListener('click', function () {
                pendingOrder.classList.remove('active');
                processingOrder.classList.remove('active');
                oderHistoryOrder.classList.remove('active');
                deliveredOrder.classList.add('active');
            });





        </script>