<%- include('../Client/layout/header.ejs') %>
    <section>
        <div class="breadcrumb-contact">
            <div class="container-fluid">
                <div class="breadcrumb-list">
                    <ul class="breadcrumb breadcrumb-arrows">
                        <li>
                            <a href="#"><span>Trang chủ</span></a>
                        </li>
                        <li class="active">
                            <a href="#"><span>Sản phẩm</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid-container inside_product_cat_hero">
            <h2 class="inside_product_cat_hero_des_cat">
                <p style="text-align: center;"><img class="alignnone wp-image-4506 size-full"
                        src="https://vinbike.com/wp-content/uploads/2023/09/Banner-Web.jpg" alt="" width="100%"
                        height="100%"></p>
            </h2>
        </div>
        <div class="d-flex filter-log">
            <p class="filter-log-title"><span>Sắp xếp theo: </span></p>
            <form class="woocommerce-ordering" method="get">
                <select name="orderby" class="orderby" aria-label="Shop order" onchange="this.form.submit()">
                    <option value="date" <% if (orderby === 'date') { %>selected<% } %>>Mới nhất</option>
                    <option value="price" <% if (orderby === 'price') { %>selected<% } %>>Thứ tự theo giá: Thấp đến cao</option>
                    <option value="price-desc" <% if (orderby === 'price-desc') { %>selected<% } %>>Thứ tự theo giá: Cao đến thấp</option>
                </select>
                <input type="hidden" name="paged" value="1">
            </form>
        </div>
        <div class="shop-content container-fluid">
            <div class="box-shop mt-5">
                <div class="row">
                    <div class="col-3 filter-col" id="filter-col">
                        <div class="box filter-toggle-box">
                            <button class="">Close</button>
                        </div>

                        <div class="box-shop">
                            <div class="form form-search">
                                <i class="bx bx-search"></i>
                                <input type="text" id="searchInput" class="form-control form-input" placeholder="Tìm kiếm..." onkeypress="handleKeyPress(event)">
                            </div>
                            <span class="filter-header">
                                Sản phẩm
                            </span>
                            <ul class="filter-list">
                                <li><a href="">Xe đạp thể thao</a></li>
                                <li><a href="">Xe đạp địa hình</a></li>
                                <li><a href="">Xe đạp thời trang</a></li>
                                <li><a href="">Xe đạp trẻ em</a></li>
                            </ul>
                        </div>
                        <div class="box-shop">
                            <span class="filter-header">
                                Giá
                            </span>
                            <form method="get" id="priceRangeForm">
                                <div class="price-range">
                                    <input type="text" name="minPrice" placeholder="Min Price" oninput="submitPriceRangeForm()">
                                    <span>-</span>
                                    <input type="text" name="maxPrice" placeholder="Max Price" oninput="submitPriceRangeForm()">
                                </div>
                                <button type="submit" class="btn btn-searchprice mb-3" style="margin-top: -40px; padding: 2px 5px; border: 1px solid #000; color: #000; border-radius: 0;">Tìm kiếm</button>
                            </form>
                        </div>
                        <div class="box-shop">
                            <ul class="filter-list">
                                <li>
                                    <div class="group-checkbox">
                                        <input type="checkbox" id="status1">
                                        <label for="status1">
                                            Giảm giá
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-checkbox">
                                        <input type="checkbox" id="status2">
                                        <label for="status2">
                                            Mới
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-checkbox">
                                        <input type="checkbox" id="status3">
                                        <label for="status3">
                                            Đã sử dụng
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="box-shop">
                            <span class="filter-header">
                                Hãng
                            </span>
                            <ul class="filter-list">
                                <li>
                                    <div class="group-checkbox">
                                        <input type="checkbox" id="remember1">
                                        <label for="remember1">Cannondale</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-checkbox">
                                        <input type="checkbox" id="remember1">
                                        <label for="remember1">Merida</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-checkbox">
                                        <input type="checkbox" id="remember1">
                                        <label for="remember1">Scott</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-checkbox">
                                        <input type="checkbox" id="remember1">
                                        <label for="remember1">Santa Cruz</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-checkbox">
                                        <input type="checkbox" id="remember1">
                                        <label for="remember1">Kona</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="box-shop">
                            <span class="filter-header">
                                Màu
                            </span>
                            <ul class="filter-list">
                                <li>
                                    <div class="group-checkbox">
                                        <input type="checkbox" id="remember1">
                                        <label for="remember1">Trắng</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-checkbox">
                                        <input type="checkbox" id="remember1">
                                        <label for="remember1">Đen</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-checkbox">
                                        <input type="checkbox" id="remember1">
                                        <label for="remember1">Đỏ</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-checkbox">
                                        <input type="checkbox" id="remember1">
                                        <label for="remember1">Xanh</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="group-checkbox">
                                        <input type="checkbox" id="remember1">
                                        <label for="remember1">Vàng</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="box filter-toggle-box">
                            <button class="">Lọc</button>
                        </div>
                        <div class="box-shop">
                            <div class="row d-flex align-items-center ml-5" id="products">



                                <% products.forEach((element,index)=>{ %>
                                    <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                                        <div class="box">
                                            <div class="product-content">
                                                <a href=""><img src="<%= element.url%>" alt="" class="product-img"></a>

                                                <div class="product-data">
                                                    <span class="product-band">Dung Chinh</span>
                                                    <h2 class="product-title">
                                                        <%= element.ProductName %>
                                                    </h2>
                                                    <p class="product-price">
                                                        <%= element.PriceVND %>
                                                    </p>
                                                    <div class="productbtn-box d-flex">
                                                        <a href="#" class="product-btn" onclick="redirectToDetailPage('<%= element.IDProduct %>')">Chi tiết</a>
                                                        <button href="#" class="product-buy"
                                                            onclick="updateProduct(<%= JSON.stringify(element) %>) ">Mua
                                                            ngay</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>




                            </div>
                        </div>



                        <div class="box-shop">
                            <ul class="pagination">

                                <li><a href="?page=<%= page <= 1 ? 1 : page -1 %>"><i
                                            class="bx bxs-chevron-left"></i></a></li>

                                <% for(let i=1 ; i <=totalPage ; i++) { %>
                                    <li><a href="?page=<%= i%>" class="<%= parseInt(page) === i ? 'active' : '' %>">
                                            <%= i %>
                                        </a></li>
                                    <% } %>

                                        <li><a href="?page=<%= page >= totalPage ? totalPage : parseInt(page) + 1 %>"><i
                                                    class="bx bxs-chevron-right"></i></a></li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include('../Client/layout/footer.ejs') %>
        <script>
            function handleKeyPress(event) {
                if (event.key === 'Enter') {
                    searchProduct();
                }
            }

            function searchProduct() {
                const searchTerm = document.getElementById('searchInput').value;
                window.location.href = "/shop?search=" + encodeURIComponent(searchTerm);
            }

            function updateProduct(element) {
                const productInfo = {
                    IDProduct: element.IDProduct,
                    Price: element.Price,
                    ProductName: element.ProductName,
                    Sale: element.Sale,
                    url: element.url,
                    SupplierName: element.SupplierName,
                };

                let gioHang = JSON.parse(localStorage.getItem("giohang")) || [];

                const existingProductIndex = gioHang.findIndex(item => item.IDProduct === productInfo.IDProduct);

                if (existingProductIndex !== -1) {
                    gioHang[existingProductIndex].soluong = (gioHang[existingProductIndex].soluong || 1) + 1;
                } else {
                    productInfo.soluong = 1;
                    gioHang.push(productInfo);
                }

                localStorage.setItem("giohang", JSON.stringify(gioHang));
                changeNumberCart()
            }


            function changeNumberCart() {
                const gioHang = JSON.parse(localStorage.getItem("giohang")) || [];
                let totalQuantity = 0;
                gioHang.forEach(item => {
                    totalQuantity += item.soluong;
                });
                document.querySelector(".cart_view").textContent = totalQuantity
            }

            function redirectToDetailPage(productId) {
                window.location.href = "/detailproduct/" + productId;
            }


        </script>