<%- include('../layout/header.ejs') %>
<%- include('../layout/aside.ejs') %>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Quản lý nhập hàng
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Examples</a></li>
      <li class="active">Blank page</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="box">


      <div class="box-body">
        <table class="table">

          <form class="form-inline" method="get">
            <div class="form-group mb-2" style="display: flex; gap:10px;">
              <label for="staticEmail2" class="sr-only">Email</label>
              <input type="text" name="name" class="form-control-plaintext" id="staticEmail2"
                placeholder="input field" style="width: 450px !important; height:34px !important;">
              <button type="submit" class="btn btn-primary mb-5"><i class="fa fa-search"></i></button>
              <a href="http://localhost:8082/admin/v1/imported/create" class="btn btn-success mb-5"><i class="fa-solid fa-truck-fast"></i> Nhập hàng</a>
            </div>
          </form>

          <thead>
            <tr>
              <th scope="col">IDImportedProducts</th>
              <th scope="col">IDStaff</th>
              <th scope="col">IDWarehouse</th>
              <th scope="col">DateCreated</th>
            </tr>
          </thead>
          <tbody>


            <% dataUser.map((item,index)=>{ %>
              <th scope="row">
                <%= item.IDImportedProducts%>
              </th>

              <td>
                <%= item.IDStaff%>
              </td>

              <td>
                <%= item.IDWarehouse%>
              </td>

              <td><%= item.DateCreated%></td>

            
              <td>
                <a href="http://localhost:8082/admin/v1/imported/edit/<%= item.IDImportedProducts%>"
                  class="btn btn-sm btn-primary btn-sua"><i class="fa fa-edit"></i> Edit</a>
                 
                  <a href="#" data-id="<%= item.IDImportedProducts%>" class="btn btn-sm btn-danger btn-xoa"><i class="fa fa-trash"></i> Delete</a>
              </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>


      <!-- pagination -->
      <div class="box-footer">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="?page=<%= page <=1 ? page=1 : page -1 %>">Previous</a>
            </li>
            <% for(i=1 ;i<=totalPage;i++) { %>
              <li class="<%= page == i ? 'active' : '' %>"> <a href="?page=<%=i%>">
                  <%= i%>
                </a> </li>
              <% } %>
                <li class="page-item"><a class="page-link"
                    href="?page=<%= page >= totalPage ? totalPage : page+1   %>">Next</a></li>
          </ul>
        </nav>
      </div>


    </div>

  </section>

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  
  $(document).ready(function() {
    // Xử lý sự kiện click trên nút xóa
    $(".btn-xoa").on("click", function() {
      // Lấy ID loại sản phẩm từ thuộc tính data-id của nút xóa
      var warehouseId = $(this).data("id");
      
      // Hiển thị cảnh báo để xác nhận việc xóa
      if (confirm("Bạn có chắc chắn muốn xóa kho này không?")) {
        // Gửi yêu cầu xóa loại sản phẩm đến máy chủ
        $.ajax({
          method: "POST",
          url: "http://localhost:8082/admin/v1/imported/delete/" + warehouseId,
          success: function(response) {
            // Nếu xóa thành công, reload trang để cập nhật dữ liệu mới
            location.reload();
          },
          error: function(xhr, status, error) {
            // Xử lý lỗi nếu có
            console.error("Error:", error);
            alert("Đã xảy ra lỗi khi xóa kho.");
          }
        });
      }
    });
  });
</script>

<%- include('../layout/footer.ejs')%>

  